<div id="view-admin-account-home" style="display: none;"></div>
<div class="admin-section admin-section2">
  <div class="admin-section-panel admin-section-panel4">
    <div class="admin-panel-section-header">
      <h2>List Account</h2>

      <select name="type" id="account-type" style="margin-left: 1rem; padding: 10px">
        <option value="0" selected>Waiting for verification</option>
        <option value="1">Complete</option>
        <option value="2">Disable</option>
        <option value="3">Pending</option>
        <option value="4">Block</option>
      </select>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr class="header">
          <th>ID</th>
          <th>Username</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody id="tbody" class="p-3">
        {{#each data}}
          <tr class="item">
            <th scope="row">{{id}}</th>
            <td><a href="account/{{username}}">{{username}}</a></td>
            <td>{{last_modified}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>