<div class="admin-section admin-section2">
    <div class="admin-section-column">
        <div class="admin-section-panel admin-section-stats">
            <a class="admin-section-stats-panel" href="/admin/account">
                <i class="fas fa-user-tie" style="background-color: #cfcd45"></i>
                Account
            </a>
            <a class="admin-section-stats-panel" href="/admin/deposit">
                <i class="fa-solid fa-money-bill" style="background-color: #ec7d21"></i>
                Deposit 
            </a>
            <a class="admin-section-stats-panel" href="/admin/withdraw">
                <i class="fa-solid fa-money-bill-1" style="background-color: #a627d8"></i>
                Withdraw
            </a>
            <a class="admin-section-stats-panel" href="/admin/trans-history">
                <i class="fa-solid fa-money-bills" style="background-color: #3078e4"></i>
                Transaction 
            </a>

        </div>
    </div> 
</div>