<div class="admin-section admin-section2">
  <div class="admin-section-panel admin-section-panel4">
    <h2>Transaction History</h2>
    <table cellpadding="10" cellspacing="10" border="1" style="width: 100%">
      <tr class="header">
        <td>ID</td>
        <td>Username</td>
        <td>Total Value</td>
        <td>Last modified</td>
      </tr>
    </table>
  </div>
</div>
